body{
    padding: 0;
    margin: 0;
    background: url(изображение_viber_2020-04-06_20-12-26.png) center no-repeat fixed;
}
.menu {
    background-color: rgb(129, 127, 123);
    height: 70px;
    max-width: 50%;
}